@use "../variables" as *;
@use "../media" as *;

.main {
  @include tablet {
    &__show-overlay::before {
        content: "";
        right: 0;
        top: 80px;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: $overlay;
    }
  }
}

.hero {
  background-image: url("../img/alpaca.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
